<tbody>
    <tr>
    <td>{{first_name}} {{last_name}}</td>
    <td>{{allergies}}</td>
    <td>{{medication}}</td>
    <td>{{diet}}</td>
    <td>{{dob}}</td>
    <td>{{notes}}</td>
    <td>{{teacher.name}}</td>

    </tr>
</tbody>