<tbody>
    <tr>
    <td>{{first_name}} {{last_name}}</td>
    <td>{{allergies}}</td>
    <td>{{medication}}</td>
    <td>{{diet}}</td>
    <td>{{dob}}</td>
    <td>{{school_id}}</td>
    <td>{{notes}}</td>
    <td>{{teacher_id}}</td>
    </tr>
</tbody>