<div class="container form-floating h-50 pb-4 col border rounded mt-3 bg-info" id="{{id}}">
<h1 class="mt-1 mb-3 text-white">Update your messages!</h1>

    <label class="text-left mt-1">Title</label>
    <input class="form-control w-100" id="titleInput{{id}}" value="{{title}}"></input>

    <label class="text-left mt-1">Message</label>
    <input class="form-control w-100" id="messageInput{{id}}" value="{{message}}"></input>

    <label class="text-left mt-1">Where</label>
    <input class="form-control w-100" id="whereInput{{id}}" value="{{where}}"></input>

    <label class="text-left mt-1">When</label>
    <input class="form-control w-100" id="whenInput{{id}}" value="{{when}}"></input>

    <button class="w-75 btn btn-med btn-success putMessage mlrb-auto mt-3" id="{{id}}" type="submit">Update Message!</button>
    <button class="w-75 btn btn-med btn-danger deleteMessage mlrb-auto mt-3" id="{{id}}" type="button">Delete Message</button>           
</div>