{{!-- Logo for Teacher's Pet --}}
<header>
    <img class="mb-4 align-items-center" src="/images/logo.png" alt="" width="250" height="250">
</header>

{{!-- this is the student info update container --}}
<main class="container child-info-update border border-info rounded">
  <h3 class=""></h3>
  <h4>School ID: {{school_id}}</h4>
  <h4>Teacher: {{teacher}}</h4>
  <h4>Name: {{first_name}} {{last_name}}</h4>
  <h4>Name: {{dob}}</h4>
  <input class="form-control" id="allergyInput" placeholder="Allergies"> </input>
  <input class="form-control" id="medicationInput" placeholder="Medication"> </input>
  <input class="form-control" id="dietInput" placeholder="Diet"> </input>
  <input class="form-control" id="notesInput" placeholder="Notes"> </input>
  <button type="submit" id="updateSubmit">Update Student Information</button>
</main>

<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- javascript file-->
<script src="/js/updatecard.js"></script>